.grid-container {
  display: grid;                     /* Turn on grid layout */
/* grid-template-columns: repeat(3, 1fr); 3 equal columns */
  /* grid-template-columns: repeat(2, 1fr);  2 columns */
  grid-template-columns: 7em 1fr 2fr;

  gap: 1em;     
  background-color: rgba(255, 255, 0, 0.498);                    /* space between boxes */
  /*    padding: 0.5em;*/
}

.grid-container2 {
  display: grid;                     /* Turn on grid layout */
/* grid-template-columns: repeat(3, 1fr); 3 equal columns */
  /* grid-template-columns: repeat(2, 1fr);  2 columns */
  grid-template-columns: auto auto auto auto;

  gap: 1em;     
  background-color: rgba(255, 255, 0, 0.498);                    /* space between boxes */
  /*    padding: 0.5em;*/
}

 .grid-container div:nth-child(1) {
  grid-column: span 3; /* first box takes 2 columns */
}
 .grid-container div:nth-child(3) {
  grid-column: span 2; /* first box takes 2 columns */
  background-color: rgba(232, 21, 200, 0.674);
}

.grid-container div , .grid-container2 div{
  background-color: rgba(235, 60, 247, 0.619);
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  border-radius: 0.5em;
  border: black 1px solid;
  ;
}


.grid-container div:hover {
  background-color: rgba(106, 210, 255, 0.797);          /* Change color on hover */
  cursor: pointer;     
  color:black              /* Pointer cursor on hover */
}

.grid-container div.green:hover, .grid-container2 div.green:hover {
  background-color: rgba(106, 255, 143, 0.951); /* Green background */
}

.grid-container div.yellow:hover , .grid-container2 div.yellow:hover{
  background-color: rgba(255, 255, 78, 0.707); /* Green background */
} 

.spacer {
          height:4em;
}

body{display: flex; justify-content: center;}

