/* SHEET PAGE */

.pink{color: plum;}
.green{color:rgba(43, 220, 81, 0.659)}
li::before{ content: "🍓 "; }   
li{padding: 0.3em 0em;}
ul{list-style: none; margin-left:-2em}
h1{font-size: 2.3em; color:rgba(43, 220, 81, 0.659)}


/* INDEX PAGE */

.bkgray {
  background-color: rgba(0, 0, 0, 0.114);
}
.grid {
  display: grid;
  gap: 1rem;
  /* grid-template-columns: 100px 1fr 2fr; */
  grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
  margin: 0 0 1rem 0;
}

.grid > div {
  height: 5rem;
  background: rgb(241, 115, 241);
  border: black 1px solid;
   
}


.grid2 {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  margin: 0 0 1rem 0;
}

.grid2 > div {
  height: 6rem;
  background: rgba(0, 255, 170, 0.656);
  min-width: 7rem;
  border: black 1px solid ;
}


body {
  margin: 1rem;
}